.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

reports/
zap-report.html
zap-report.md
security-reports/

.idea/
.vscode/
*.swp
*.swo

ansible/.retry
*.pem
terraform/terraform.tfvars
app/instance/
.reference/
